@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --cor-1: #262626;
    --cor-2: #FFC201;
    --cor-2-opacity: #ffc401b0;
    --cor-fundo: #807e7e;
}

.w-10 {
    width: 10%;
}

.bg-black-css {
    background-color: var(--cor-1);
}

.bg-yellow-css {
    background-color: var(--cor-2);
}

.bg-gray-css {
    background-color: var(--cor-fundo);
}

.bg-yellow {
    background-color: var(--cor-2);
}

.bg-yellow:hover {
    background-color: var(--cor-2-opacity);
}

.link:hover {
    text-decoration: underline;
}

.item-hover:hover {
    transform: translateX(10px);
    transition-duration: 500ms;
}

.shadow-css {
    box-shadow: 5px 5px 20px  rgba(0, 0, 0, 0.3);
}

.bg-image {
    background-image: url('../assets/banco.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 39vh;
}

.ms-25 {
    margin-left: 60%;
    margin-top: 70%;
}

.mb-10 {
    margin-bottom: 50%;
}

@media (max-width: 992px) {
    .w-10 {
        width: 20%;
    }

    .colum-reverse {
    display: flex;
    flex-direction: column-reverse;
    }

    .bg-image {
        min-height: 73vh;
    }

}

