@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --cor-1: #262626;
    --cor-2: #FFC201;
    --cor-2-opacity: #ffc401b0;
    --cor-fundo: #A2A0A0;
    --cor-fundo2: #cacaca;
}

.w-10 {
    width: 10%;
}

.bg-black-css {
    background-color: var(--cor-1);
}

.bg-yellow-css {
    background-color: var(--cor-2);
}

.bg-gray-css {
    background-color: var(--cor-fundo);
}

.bg-gray2-css {
    background-color: var(--cor-fundo2);
}

.bg-yellow {
    background-color: var(--cor-2);
}

.bg-yellow:hover {
    background-color: var(--cor-2-opacity);
}

.link:hover {
    text-decoration: underline;
}

.item-hover:hover {
    transform: translateX(10px);
    transition-duration: 500ms;
}

.shadow-css {
    box-shadow: 5px 5px 20px  rgba(0, 0, 0, 0.3);
}

.bg-image {
    background-image: url('../assets/banco.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 39vh;
}

.img-whats{
    width: 80px;
    height: 80px;
    border-radius: 30%;
}

.ms-25 {
    margin-left: 60%;
    margin-top: 70%;
}

.min-w-50 {
    min-width: 20vw;
}

.min-h-50 {
    min-height: 50vh;
}

.min-h-100 {
    min-height: 100vh;
}

.mb-10 {
    margin-bottom: 50%;
}

.footer-bottom {
    margin-top: 10%;
}

.text-shadow-css {
    text-shadow: 2px 2px 5px black;
}

.bg-text {
    background-color: #947100d3;
}

@media (max-width: 992px) {
    .w-10 {
        width: 20%;
    }

    .colum-reverse {
    display: flex;
    flex-direction: column-reverse;
    }
    
    .w-75-cel {
        width: 75vw;
    }
}

@media (max-width: 616px) {
    .header-h3 {
        font-size: 2rem;
    }
    .header-p {
        font-size: 1rem;
    }
}

@media (max-width: 446px) {
    .header-none {
        display: none;
    }
}